.icon-styling{
    position: absolute;
    bottom: 4%;
    left: 4%;
}
.like{
    color: #eb4d4b;
    cursor: pointer;
}
.unlike{
    color: white;
    cursor: pointer;
}
.unlike2{
    color:black;
    cursor: pointer;
}